# Version control
/.git

# Angular build/cache
/.angular

# Claude
/.claude

# WebStorm
/.idea

# Node
/node_modules

# Build output
/dist

# Docker
/docker-compose.yaml
/Dockerfile

# Misc
*.md
.env
.vscode
.github
npm-debug.log
.DS_Store
Thumbs.db