RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewritreBase /start
RewriteRule ^(.*)$ index.php$1
RewriteBase /cracks
RewriteRule ^(.*)$ /content/cracks/cracks.php$1