.downloadHeadline {
    font-size: 2.5rem;
    margin-top: 7rem;
    color: white;
    text-align: center;
}

.downloads ul {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    color: #72b1f4;
    font-size: 2rem;
}

.downloads ul li {
    list-style: none;
    margin: 1rem;
}

.downloads ul li a {
    text-decoration: none;
    color: #72b1f4;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
}

.downloads ul li a:hover {
    text-decoration: underline;
    font-size: 2.5rem;
    font-weight: bold;
}