.shortcuts form {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.shortcuts form input {
    width: 50rem;
    height: 3rem;
    font-size: 2rem;
    padding: 1rem;
    border: 2px solid #72b1f4;
    border-radius: 20px;
    outline: none;
    background: transparent;
    text-align: center;
    color: white;
    }

.shortcuts {
    font-size: 2.5rem;
    margin-top: 5rem;
    color: white;
    text-align: center;
}

.shortcuts ul {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: #72b1f4;
    font-size: 2rem;
}

.shortcuts ul li {
    list-style: none;
    margin: 2rem;
    border-radius: 20px;
    border: 2px solid #72b1f4;
    padding: 1rem;
}

.shortcuts ul li a {
    text-decoration: none;
    color: #72b1f4;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
}

.shortcuts ul li a:hover {
    text-decoration: underline;
    font-size: 2.5rem;
    font-weight: bold;
}