body {
    background-color: #36393f;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: rgb(88, 101, 242);
    text-align: center;
    padding-top: 1rem;
}

.headline {
    font-size: 3rem;
}

.links ul li {
    display: inline;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.links ul li a {
    font-size: 2rem;
    display: inline;
    text-decoration: none;
    color: rgb(88, 101, 242);
}