.projectHeadline {
    font-size: 2.5rem;
    margin-top: 7rem;
    color: white;
    text-align: center;
}

.projects ul {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    color: #72b1f4;
    font-size: 2rem;
}

.projects ul li {
    list-style: none;
    margin: 1rem;
}

.projects ul li a {
    text-decoration: none;
    color: #72b1f4;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
}

.projects ul li a:hover {
    text-decoration: underline;
    font-size: 2.5rem;
    font-weight: bold;
}

.projects table {
    margin: 0 auto;
}

.projects table tbody{
    margin: 0 auto;

}

.projects table tbody tr {
    color: #72b1f4;
    font-size: 2rem;
}

.projects table tbody tr td {
    text-align: center;
    padding-bottom: 2rem;
}

.projects table tbody tr td a {
    text-decoration: none;
    color: #72b1f4;
    font-size: 2rem;
    margin: 2rem;
    transition: all 0.2s ease-in-out;
}

.projects table tbody tr td a:hover {
    text-decoration: underline;
    font-size: 2.5rem;
    font-weight: bold;
}