article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

article p {
    color: white;
    font-size: 2rem;
    text-align: end;
}

article ul {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    padding: 0;
    color: #72b1f4;
    font-size: 2rem;
}

article ul li {
    list-style: none;
    margin: 0 1rem;
}

article ul li a {
    text-decoration: none;
    color: #72b1f4;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
}

article ul li a:hover {
    text-decoration: underline;
    font-size: 2.5rem;
    font-weight: bold;
}