body {
    text-align:center;
    font-family: helvetica;
    background-color: #36393f;
  }
  canvas {
    border: 2px solid rgb(88, 101, 242);
    color: #36393f;
    background-color: #36393f;
    flood-color: #36393f;
    
  }
  
  #title {
    color: rgb(88, 101, 242);
    font-size: 48px;
    background-color: #36393f;
  }

#stage {
    border: 2px solid rgb(88, 101, 242);
    color: #36393f;
    background-color: #36393f;
    
  }