body {
	background-color: #36393f;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 2%;

}

#welcome {
	color: rgb(88, 101, 242);
	display: inline;
	font-size: 48px;
	scroll-padding-top: 8px;
}
  
  #links a {
    color: rgb(88, 101, 242);
    font-size: 42px;
  	margin: 4px;
    padding-top: 20px;
}

#links {
  color: rgb(88, 101, 242);
  font-size: 42px;
  margin: 4px;
  padding-top: 2%;
}


.back {
    color: rgb(88, 101, 242);
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.back a {
    color: rgb(88, 101, 242);
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}